_target_: "src.models.separator.TCNSeparator"
name: "conv"

# Bottleneck and hidden sizes inside the TCN
context_len_ms:    64      # length of the streaming buffer for the model - should be <= receptive field
bn_dim:           64      # intermediate channels after causalNorm
hidden_dim:       256     # channels inside each DepthConv1d

# Architectural hyperparameters
num_layers:       7       # conv blocks per stack
num_stacks:       5       # how many times to repeat that sequence
kernel_size:      3       # 1-D conv kernel width
skip_connection:  true    # whether to use the skipâ€connection variant
causal:           true    # enforce causality in each block
dilated:          true    # exponential dilation (2^i) in each layer

